body {
    background-color: #F8EDE3
}
header {
    background-color: #606E5E;
    h1 {
        color: #F8EDE3
    }
}
#add:hover {
    background-color: #2b2c2c
}
#add {
    background-color: #606E5E
}
button:hover {
    background-color: #2b2c2c
}
button {
    background-color: #F8EDE3
}
.styleButtons {
    button {
        color: #606E5E;
    }
}
#taskSection {
    background-color: #606E5E
}
#taskDesc {
    h4 {
        color: #F8EDE3
    }
}
#abtn {
    background-color: #F8EDE3
}
#abtn:hover {
    background-color: #2b2c2c
}
#bbtn {
    background-color: #F8EDE3
}
#bbtn:hover {
    background-color: #2b2c2c
}
#cbtn {
    background-color: #F8EDE3
}
#cbtn:hover {
    background-color: #2b2c2c
}
#dbtn {
    background-color: #2b2c2c
}
#dbtn:hover {
    background-color: #2b2c2c
}