@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background-color: #ACB1D6;
}

.container {
    margin: auto;
    height: 100%;
    max-width: 1000px;
}

header {
    padding: 20px;
    background-color: #FFEAD2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h1 {
        color: #687AA9;
        font-size: 70px
    }
}

#btnadd {
    display: flex;
    justify-content: center;
    padding: 30px
}

#add:hover {
    transition: all .5s;
    background-color: #31394D;
}

#add {
    background-color: #FFEAD2;
    border-radius: 25px;
    border: none;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
    }
}

button:hover {
    transition: all .5s;
    background-color: #31394D;
}

button {
    background-color: #8294C4;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    img {
        width: 63px;
        height: 63px;
        padding: 7px;
    }
}

.styleButtons {
    display: flex;
    gap: 10px;
    button {
        width: 55px;
        padding: 5px;
        color: #FFEAD2;
    }
}
#taskSection {
    background-color: #FFEAD2;
    min-width: 50em;
    min-height: 270px;
    border-radius: 20px;
    display: flex;
}

#buttonSection {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#taskDesc {
    padding: 35px;
    width: 38.5em;
    h4 {
        color: #687AA9;
        font-size: 26px;
        font-family: "Noto Sans JP", sans-serif;
        word-wrap: break-word;
    }
}

#abtn {
    background-color: #31394D;;
}
#abtn:hover {
    background-color: #31394D;;
}
#bbtn {
    background-color: #8294C4;
}
#bbtn:hover {
    background-color: #31394D;;
}
#cbtn {
    background-color: #8294C4;
}
#cbtn:hover {
    background-color: #31394D;;
}
#dbtn {
    background-color: #8294C4;
}
#dbtn:hover {
    background-color: #31394D;
}