@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background-color: #ACB1D6;
}

.container {
    margin: auto;
    height: 100%;
    max-width: 1000px;
    border: 2px solid red;
}

header {
    padding: 20px;
    background-color: #FFEAD2;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #687AA9;
    }
}

#btnadd {
    display: flex;
    justify-content: center;
    padding: 30px
}

#add {

    background-color: #FFEAD2;
    border-radius: 15px;
    border: none;
    width: 60px;
    height: 60px;
}

#add:hover {
    transition: all .5s;
    background-color: #31394D;
}

#removeBtn {
    background-color: #8294C4;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;

    img {
        width: 35px;
        height: 35px;
        padding: 4px;
    }
}

#removeBtn:hover {
    transition: all .5s;
    background-color: #31394D;
}

#doneBtn {
    background-color: #8294C4;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 15px;

    img {
        width: 35px;
        height: 35px;
        padding: 4px;
    }
}

#doneBtn:hover {
    transition: all .5s;
    background-color: #31394D;
}

#editBtn {
    background-color: #8294C4;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 15px;

    img {
        width: 35px;
        height: 35px;
        padding: 4px;
    }
}

#editBtn:hover {
    transition: all .5s;
    background-color: #31394D;
}

#taskSection {
    background-color: #FFEAD2;
    min-width: 20em;
    min-height: 170px;
    border-radius: 20px;
    display: flex;
}

#buttonSection {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#taskDesc {
    padding: 35px;
    width: 31em;
    h4 {
        color: #687AA9;
        font-size: 16px;
        font-family: "Noto Sans JP", sans-serif;
        word-wrap: break-word;
    }
}